<div class="app-character-details">
  <div *ngIf="character" class="body">
    <img class="external-image" src="/assets/images/angry-rick.png" alt="rick-face">
    <div class="character-information">
      <h2>Name: {{ character.name }}</h2>
      <img [src]="character.image" alt="">
      <h3>Gender: {{ character.gender }}</h3>
      <h3>Species: {{ character.species }}</h3>
      <h3 *ngIf="character.type">Type: {{ character.type }}</h3>
      <h3>Location: {{ character.location.name }}</h3>
    </div>
  </div>
</div>
