<div class="home-container">
  <h1>Here I'd grab the main information</h1>

  <div class="content-list">
    <h1 (click)="navigateTo('character')">Characters</h1>
    <h2 [routerLink]="['/character', character.id]" *ngFor="let character of characters">
      {{character.name}}
    </h2>
  </div>
  <div class="content-list">
    <h1 (click)="navigateTo('location')">Locations</h1>
    <h2 [routerLink]="['/location', location.id]" *ngFor="let location of locations">
      {{location.name}}
    </h2>
  </div>
  <div class="content-list">
    <h1 (click)="navigateTo('episode')">Episodes</h1>
    <h2 [routerLink]="['/episode', episode.id]" *ngFor="let episode of episodes">
      {{episode.name}}
    </h2>
  </div>
</div>
